{{>site-nav}}

<ul>
    <li class="item"><a class="btn" href="manicure">Manicure</a></li>
    <li class="item" ><a class="btn" href="pedicure">Pedicure</a></li>
    <li class="item" ><a class="btn" href="depilacjaPC">Depilacja pastą cukrową</a></li>
    <li class="item" ><a class="btn" href="">Depilacja woskiem miękkim</a></li>
    <li class="item" ><a class="btn" href="">Depilacja Black Sugar</a></li>
    <li class="item" ><a class="btn" href="">Depilacja Luxury</a></li>
    <li class="item" ><a class="btn" href="">Laminacja/ lifting/ henna Brwi/ Rzęsy</a></li>
    <li class="item" ><a class="btn" href="">Spa</a></li>
    <li class="item" ><a class="btn" href="">Zabiegi na twarz</a></li>
    <li class="item" ><a class="btn" href="">Masaż</a></li>
    <li class="item" ><a class="btn" href="">Depilacja laserowa</a></li>
    <li class="item" ><a class="btn" href="">Opalanie natryskowe</a></li>
</ul>
