{{>site-nav}}
<table>
    <thead class="thead">
        <tr>
            <th class="first-column">Zabieg</th>
            <th>Cena</th>
            <th>Z kartą <span>Kiwi Beauty Center</span></th>
        </tr>
    </thead>
    <tbody>
        {{#each manicureData}}
        <tr class="table-line">
            <td>{{name}}</td>
            <td>{{price}} zł</td>
            <td>{{[price by card]}} zł</td>
        </tr>
        {{/each}}

    </tbody>
</table>
